# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:
mobile_app:
# discovery: #Had to comment out because of update 8/6/23

# Added 2026/01/10 for live-streaming Dahua/Amcrest cameras
ffmpeg:

python_script:

logger:
  default: warning
  logs:
    # Silence ONVIF time-drift warnings, keep real errors
    homeassistant.components.onvif: error
    homeassistant.components.amcrest: error
    # custom_components.eyeonwater: debug
    # custom_components.eyeonwater.statistic_helper: debug
    # pyonwater: debug

# mqtt:
#   broker: 192.168.10.201
#   discovery: true
#   discovery_prefix: homeassistant

# lovelace:
#   mode: yaml

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Text to speech
tts:
  - platform: google_translate

#pi_hole:
#  host: localhost:4865

# weather: # 05/18/2020 No Longer supported, must use UI to configure
#   - platform: nws
#     #api_key: !secret nws_api_key
#     api_key: georgeioak@comcast.net
#     station: KSAC

# Example configuration.yaml entry
# media_player:
#   - platform: pioneer
#     host: 192.168.10.20
  # - platform: aarlo  # Commented 4/8/24 for v0.8

group: !include groups.yaml
automation: !include automations.yaml
# automation old: !include_dir_merge_list automation
script: !include scripts.yaml
scene: !include scenes.yaml
light: !include lights.yaml
mqtt: !include mqtt.yaml
sensor: !include sensors.yaml
switch: !include switches.yaml
input_select: !include input_select.yaml
input_boolean: !include_dir_merge_named input_boolean
template: !include template_sensors.yaml


homeassistant:
  packages: !include_dir_named packages
  #unit_system: imperial
  allowlist_external_dirs:
    - "/media"
    - "/share"
  media_dirs:
    media: /media
    share: /share


influxdb:
  host: a0d7b954-influxdb
  port: 8086
  database: homeassistant
  username: homeassistant
  password: Yellow1997
  max_retries: 3
  default_measurement: state

# Added for Hue Scene
input_number:
  hue_dynamic_scene_speed:
    name: Hue scene speed
    min: 0
    max: 100
    step: 10

  hue_dynamic_scene_brightness:
    name: Hue scene brightness
    min: 0
    max: 255
    step: 10
